{% extends 'base.html' %}

{% block content %}
    {{ super() }}
    <p> Enter keyword and region for search vacancy:
    {% for m in mytext %}
        <p> {{ m }}</p>
    {% endfor %}

    <form method="post" action="/testPOS" class="flash">
        <p><label> What do you want to find? Enter keyword </label> <input type="text" name="keyword" value="python" />
        <p><label> What is number of region for searching? </label> <input type="text" name="area" value="2" />
        <p><input type="submit" value="Let's go" />
    </form>
{% endblock %}